<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Merci de votre commande !</title>

  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap" rel="stylesheet" />

  <style>
    body {
      margin: auto;
      color: #414143;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.005em;
    }

    .container {
      margin: 0 auto;
    }

    header {
      text-align: center;
      padding: 16px;
    }

    header .logo {
      margin: 0 auto;
      text-align: center;
    }

    header .logo img {
      width: 250px;
    }

    .social-link {
      text-decoration: none;
    }

    .bg-primary {
      background-color: #F8F1E9;
    }

    .bg-secondary {
      background-color: #F9F8F5;
    }

    .border-primary {
      border: 1px solid #AB9976;
    }

    .border-block {
      border: 1px solid #AB9976;
      padding: 8px;
    }

    .content {
      margin: 0 auto;
      font-size: 14px;
      line-height: 20px;
    }

    h1 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }

    .black {
      color: #000000;
    }

    .provider {
      margin-top: 12px;
    }

    .content p {
      margin: 0;
    }

    .content .strong {
      font-weight: 700;
    }

    .grid__column--2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .order-detail .order-detail__common-info {
      margin-bottom: 8px;
    }

    .order-detail .order-detail__common-info span {
      margin-right: 8px;
    }

    .order-detail .order-detail__common-info img {
      height: 24px;
      width: auto;
      display: inline-block;
    }

    .order-detail .order-detail__address-info img {
      color: #938280;
    }

    table {
      width: 100%
    }

    .table-collapse {
      border-collapse: collapse;
    }

    .delivery-info .address-column {
      border-right: 1px solid #938280;
    }

    table.order-detail__item-info tr .value,
    table.table__order-detail .value {
      text-align: right;
      font-weight: 700;
    }

    table.order-detail__item-info {
      border-spacing: 0 8px;
    }

    table.order-detail__item-info {
      margin: 0;
      border: none;
      width: 100%;
    }

    table.order-detail__item-info tr {
      margin-bottom: 16px;
      padding: 0;
    }

    table.table__order-detail .label-amount {
      text-align: right;
      border-right: 1px solid white;
      margin: 0 8px;
    }

    .table.table__order-detail .label-amount--bold {
      font-weight: bold;
    }

    table.table__order-detail tr td {
      padding: 8px;
    }

    table.table__order-detail .row-amount td {
      border-bottom: 1px solid #fff;
    }

    table.table__order-detail tr td:first-child {
      width: 56px !important;
    }

    table.table__order-detail tr .weight {
      width: 128px;
      text-align: right;
    }

    .table__order-detail {
      border-spacing: unset;
    }

    .delivery-info tr td:first-child {
      width: initial !important;
    }

    .delivery-info td:first-child {
      border-right: 1px solid #AB9976;
    }

    .delivery-info {
      padding: 0
    }

    .delivery-info td {
      vertical-align: top !important;
      padding: 8px;
    }

    .delivery-info .label-delivery {
      font-weight: bold;
    }

    .img-product {
      height: 40px;
      width: 40px;
    }

    a {
      color: #2A6EAD;
    }

    .block-space {
      height: 32px;
    }

    .text__space--20 {
      height: 20px;
    }
  </style>

</head>

<body id='mail'>

  <div style="width: 600px; margin: 0 auto; background-color: #FFF;">
    <table class="container" cellpadding="0" cellspacing="0">
      <tr style="height:22px">
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td style="width:44px;">&nbsp;</td>
        <td class='mail__container'>
          <header>
            <div class="logo">
              <img data-inline-ignore
                src="https://firebasestorage.googleapis.com/v0/b/lebourdonnec-staging.appspot.com/o/public-resources%2FLebourdonnec_logo_sans_RVB%20(1).png?alt=media&token=aec3fe4b-1716-4759-a3b9-89705e0e5070"
                alt="logo" />
            </div>
          </header>

          <div class="content">

            <div class="order-detail">
              <div>
                <p class="bold" style='font-weight: bold;'>
                  <span>La Maison Le Bourdonnec a le plaisir de confirmer votre commande n°</span>
                  <span><%= order.id %></span>
                  <span>du</span>
                  <span><%= order.createdAt %></span>
                  <span>qui sera préparée avec soin par nos Chefs Bouchers.</span>
                </p>
                <div class="block-space">&nbsp;</div>
              </div>

              <% if (order.type === 'IN_STORE') { %>
              <div class="content__click-collection  bold">
                <p>Vous avez choisi le retrait en boutique, pensez à venir muni de ce mail ou d’une pièce d’identité.
                </p>
                <div class="block-space">&nbsp;</div>
              </div>
              <% } %>

              <div class="order-detail__common">
                <p class="italic" style='font-style: italic'>Chez Maison Le Bourdonnec, nous avons à cœur de proposer à tous les amoureux de la viande des pièces d’exception pour une alimentation durable, responsable, et en circuit court. Notre obsession : vous proposer la meilleure viande au monde !
                </p>
              </div>
              <div class="block-space">&nbsp;</div>

              <table class="user-info bg-primary border-block">
                <tr>
                  <td>
                    <h1 class='m__b--12'
                      style='font-weight: 700; font-size: 16px; line-height:  24px; margin-bottom: 12px;'>
                      Informations de la commande:
                    </h1>
                    <p>
                      <% if(order.type === 'DELIVERY'){ %>
                        <span class='strong'>Créneau de livraison :</span>
                        <span><%= delivery.date %> entre <%= delivery.startTimeDelivery %> et <%= delivery.endTimeDelivery %></span>
                      <% } %>
                      
                      <% if(order.type === 'IN_STORE'){ %>
                        <span class='strong'>Créneau de retrait :</span>
                        <span><%= shop.pickupDate %>, entre <%= shop.pickupTime %> et <%= shop.endPickupTime %></span>
                      <% } %>
                    </p>
                    <p>
                      <span class='strong'>Numéro de commande :</span>
                      <span><%= order.id %></span>
                    </p>
                    <p>
                      <span class='strong'>Date de commande :</span>
                      <span><%= order.createdAt %></span>
                    </p>
                    <p>
                      <span class='strong'>Moyen de paiement :</span>
                      <span><%= payment.cardBrand %></span>
                      <span>*********<%= payment.lastFourDigits %></span>
                    </p>
                </tr>
              </table>
              <div class="block-space">&nbsp;</div>

              <table class='delivery-info bg-primary border-primary table-collapse'>
                <tr>
                  <% if (order.type === 'DELIVERY') { %>
                  <td align="left" valign="top" class="address-column">
                    <p class='bold label-delivery' style='font-weight: bold;'>Adresse de livraison :</p>
                    <p><%= delivery.receiverName %></p>
                    <p><%= delivery.address%></p>
                    <p class='provider'>
                      <span style='margin-right: 11px'>Livraison par </span>
                      <% if (order.type === 'DELIVERY' && order.deliveryProvider === 'CHRONOPOST') { %>
                      <img data-inline-ignore width="100"
                        src="https://firebasestorage.googleapis.com/v0/b/lebourdonnec-staging.appspot.com/o/public-resources%2Fchronofresh.png?alt=media&token=6a0984da-31a6-4371-b43b-5cb284fa5db9"
                        alt="Chronofresh logo">
                      <% } %>
                      <% if (order.type === 'DELIVERY' && order.deliveryProvider === 'STUART') { %>
                      <img data-inline-ignore width="70"
                        src="https://firebasestorage.googleapis.com/v0/b/lebourdonnec-staging.appspot.com/o/public-resources%2Fstuart.png?alt=media&token=1d8ae119-d663-495d-8ace-8959c3b645f2"
                        alt="stuart logo">
                      <% } %>
                    </p>
                  </td>
                  <td align="left" valign="top">
                    <p class='bold label-delivery' style='font-weight: bold;'>Adresse de facturation : </p>
                    <p><%= billing.name %></p>
                    <p><%= billing.address %></p>
                  </td>
                  <% } %>
                  <% if (order.type === 'IN_STORE') { %>
                  <td align="left" valign="top" class="address-column">
                    <p class='strong label-delivery'>Adresse du point retrait : </p>
                    <p><%= shop.name %></p>
                    <p><%= shop.pickupPlace %></p>
                  </td>
                  <% } %>   
                </tr>
              </table>
              <div class="block-space">&nbsp;</div>

              <table class='table__order-detail border-primary' cellspacing="0" cellpadding="0">
                <tr class='black bg-primary' style="padding: 10px;">
                  <td colspan="4">
                    <h1 class='bg-primary' style='font-weight: 700; font-size: 16px; line-height: 24px;'> Vos pièces achetées : </h1>
                  </td>
                </tr>
                <% for(var i = 0; i < order.items.length; i++) { %>
                <tr class='product-item'>
                  <td valign="middle" align="center" class="image">
                    <img class=img-product width="40" src="<%=order.items[i].pictureUrl; %>"
                      alt="<%= order.items[i].name; %>">
                  </td>
                  <td class="label"><%= order.items[i].quantity; %> x <%= order.items[i].name; %></td>
                  <td class="weight"><%= order.items[i].quantity; %> x <%= order.items[i].weight; %> kg</td>
                  <td class="value" style='width:20%; padding-left: 16px;'><%= order.items[i].price; %> €</td>
                </tr>
                <% } %>

                <tr class='bg-secondary row-amount'>
                  <td colspan='3' class="label-amount label ">
                    <p>Montant de la commande :</p>
                  </td>
                  <td class="value" style='width:20%; padding-left: 16px;'><%= order.amountOrder; %> €</td>
                </tr>
                <tr class='bg-secondary row-amount'>
                  <td colspan='3' class="label-amount label ">Frais de livraison :</td>
                  <td class="value" style='width:20%; padding-left: 16px;'><%= order.deliveryCost; %> €</td>
                </tr>
                <tr class='bg-primary row-amount'>
                  <td colspan='3' class="label-amount label" style="font-weight: bold;">Montant total :</td>
                  <td class="value" style='width:20%; padding-left: 16px;'><%= order.totalCost; %> €</td>
                </tr>
              </table>
              <div class="block-space">&nbsp;</div>
            </div>

            <div class="order-detail__common-info ">
              <p class='m__b--20 strong'>Nous vous remercions de votre confiance et vous souhaitons une très belle
                journée,
              </p>
              <div class="text__space--20">&nbsp;</div>
              <p class='m__b--20 strong'>A très vite,</p>
              <div class="text__space--20">&nbsp;</div>
            </div>

            <div class="order-detail__common-info m__b--20">
              <p class="strong">L’équipe Maison Le Bourdonnec.</p>
              <a href="mailto:contact@groupelebourdonnec.com">contact@groupelebourdonnec.com</a>
            </div>
            <div class="text__space--20">&nbsp;</div>

            <div class="order-detail__common-info m__b--20">
              <p class='share-order  m__b--20'>Partagez-nous vos photos @maisonlebourdonnec #maisonlebourdonnec!</p>
              <div class="text__space--20">&nbsp;</div>

              <div class="order-social__group">
                <a class="social-link" href="https://www.instagram.com/maisonlebourdonnec/">
                  <img data-inline-ignore
                    src="https://firebasestorage.googleapis.com/v0/b/lebourdonnec-staging.appspot.com/o/icon-social%2Finstagram%2032px.png?alt=media&token=53851fd7-346f-44cc-bfe2-58e1fb8e3539"
                    alt="instagram">
                </a>
                <a class="social-link" href="https://www.facebook.com/BoucherieLeBourdonnec">
                  <img data-inline-ignore
                    src="https://firebasestorage.googleapis.com/v0/b/lebourdonnec-staging.appspot.com/o/icon-social%2Ffacebook%2032px.png?alt=media&token=aa125612-af0b-4501-8ee3-f35a1ea13cea"
                    alt="facebook">
                </a>
              </div>
            </div>
            <div class="text__space--20">&nbsp;</div>

            <div class="order-detail__common-info italic" style='font-style: italic'>
              <p class="m__b--20">Une question ?</p>
              <div class="text__space--20">&nbsp;</div>
              <p class="m__b--20">
                <span> Consultez notre </span>
                <a href="<%= page.faq %>">FAQ</a>
                <span>ou écrivez-nous, nous vous répondrons avec plaisir. </span>
              </p>
              <div class="text__space--20">&nbsp;</div>
            </div>

            <div class="order-detail__common-info">
              <a href="<%= page.toBuy %>">ACHETER EN LIGNE</a>
              <span>-</span>
              <a href="<%= page.cgv %>">CONDITIONS D’UTILISATION ET DE VENTE</a>
              <span>-</span>
              <a href="<%= page.faq %>">QUESTIONS FRÉQUENTES</a>
              <span>-</span>
              <a href="<%= page.delivery %>">LIVRAISONS</a>
              <span>-</span>
              <a href="<%= page.personal %>">RGPD</a>
            </div>

            <!-- Hide unsubscribe mail -->
            <!-- <div class="order-detail__common-info">
                <p>Je souhaite me désinscrire</p>
            </div> -->

          </div>
        </td>
        <td style="width:44px;">&nbsp;</td>
      </tr>
      <tr style="height:53px;">
        <td colspan="3">&nbsp;</td>
      </tr>
    </table>
  </div>

</body>

</html>